html, body {
    height: 100%;
    margin: 0;
}

body {
    font-family: 'trebuchet ms', sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column; /* elementos em coluna */
    background-color: #fafafa;
    min-height: 100vh;
}

header {
    position: relative; /* posicionar elem filhos */
    height: 60px;
    color: white;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 2; /* sobreposição de header sobre outros elementos */
    background-color: rgba(128, 0, 0, 1);
}

header::before {
    content: ""; /* pseudo-elemento */
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: url('images/world-map.jpg');
    background-size: cover;
    background-position: center;
    opacity: 0.2;
    z-index: 1; /* sobreposição de header sobre outros elementos */
}

header .logo {
    flex: 1;
    z-index: 3; /* sobreposição de logo */
}

header .logo img {
    height: 50px;
    width: auto;
    max-width: 100%;
    cursor: pointer; /* indica que é clicável */
    transition: transform 0.3s ease; /* animação ao transformar */
}

header .logo img:hover {
    transform: scale(1.2); /* aumenta a img ao passar o mouse */
}

nav {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    position: relative;
    z-index: 2;
}

nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
}

nav ul li {
    position: relative;
    padding: 15px;
    text-align: center;
}

nav a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    position: relative; /* posição elem filhos */
    padding: 10px;
    font-size: 16px;
}

nav ul li a.active {
    background-color: rgba(0, 0, 0, 0.3);
    border-radius: 8px;
    padding: 10px;
}

nav a:hover {
    background-color: rgba(255, 255, 255, 0.3);
    border-radius: 10px;
}

/* dropdown */
nav ul li .dropdown {
    display: none;
    position: absolute;
    background-color: rgba(128, 0, 0, 0.8);
    z-index: 2; /* sobreposição */
}

nav ul li:hover .dropdown {
    display: block;
}

nav ul li .dropdown.active {
    display: block;
}

.carousel {
    background-color: rgba(255, 255, 255, 0.9);
    border-radius: 15px;
    box-shadow: 0 8px 30px rgba(0, 0, 0, 0.2); /* sombra */
    overflow: hidden;
    position: relative;
    width: 100%;
    max-width: 1500px;
    margin: 20px auto;
}

.carousel img {
    width: 100%;
    height: auto;
    object-fit: cover;
    border-radius: 15px;
    display: none; /* esconde imgs inicialmente */
    transition: transform 0.5s ease; /* animação suave */
}

.carousel img.active {
    display: block; /* mostra a img ativa */
    transform: scale(1.05); /* leve aumento na img ativa */
}

.carousel-button {
    background-color: rgba(128, 0, 0, 0.7);
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%); /* ajusta para centrar */
    z-index: 10; /* sobreposição botões acima das imgs */
    width: 50px;
    height: 50px;
    transition: background-color 0.3s ease, transform 0.3s ease; /* alteração suave */
}

.carousel-button:hover {
    background-color: rgba(128, 0, 0,    0.8);
}

.carousel-button.prev {
    left: 10px; /* dist da borda esq */
}

.carousel-button.next {
    right: 10px; /* dist da borda dir */
}

.content {
    padding: 10px;
    background-color: white;
    color: #333;
    flex: 1;
}

.content h1 {
    color: #800000;
    text-align: center;
    font-size: 2.5em;
    margin: 20px 0;
}

.content p {
    color: #333;
    line-height: 1.6;
    text-align: justify;
    padding: 0 20px;
}

.cards {
    font-size: small;
    background-color: rgba(255, 255, 255, 0.85);
    border-radius: 15px;
    padding: 10px;
    border: 2px solid rgba(128, 0, 0, 0.877);
    width: 100%;
    color: rgb(0, 0, 0);
}

footer {
    position:relative;
    color: white;
    text-align: center;
    padding: 10px 0;
    background-color: rgba(128, 0, 0, 1);
    z-index: 2; /* sobreposição img */
}

footer::before {
    content: ""; /* pseudo-elemento para fundo */
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: url('images/world-map.jpg');
    background-size: cover;
    background-position: center;
    opacity: 0.2;
    z-index: 1;
    height: auto;
}

footer .social-media {
    position: relative; /* manter clicáveis */
    z-index: 3; /* sobreposição links redes sociais */
}

footer .social-media a {
    color: white;
    margin: 0 10px;
    text-decoration: none;
}

footer p {
    margin: 5px 0 0;
}

/* formulário */
.form-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 0;
}

/* iframe para formulário */
iframe {
    max-width: 100%;
    max-height: 100%;
}

@media (min-width: 768px) {
    nav ul {
        display: flex;
        flex-direction: row;
        max-height: none;
    }

    .nav-list {
        display: flex;
    }
}

@media (max-width: 768px) {
    header {
        height: 60px; /* h para mobile */
    }

    footer {
        height: 60px; /* h para mobile */
    }
}

@media (min-width: 769px) {
    header {
        height: 80px; /* h para desktop */
    }

    footer {
        height: 80px; /* h para desktop */
    }
}

@media (max-width: 768px) {
    nav a {
        font-size: 14px; /* font size mobile */
    }

    nav ul li {
        padding: 8px; /* padding mobile */
    }
}

@media (max-width: 768px) {
    .carousel {
        max-width: 100%; /* ocupar largura tela em mobile */
    }

    .carousel-button {
        width: 40px; /* button */
        height: 40px; /* buttom */
    }

    .carousel img {
        display: block;
    }
}